/* Entire webpage */
body {
    background-image: url('yggdrasil_copy2.jpg');
    background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	margin: 0px;
	padding: 0px;
    font-family: Halo3;
    color: rgb(219, 165, 48);
    background-color: rgba(33, 1, 51, 0.883);
}

@font-face {
    font-family: Halo3;
    src: url(Halo3.ttf);
  }

h1 {
   display: flex;
    justify-content: center;
    font-size: 4em;
 
}

footer {
    display: flex;
    justify-content: center;
    margin: 2em;
    font-size: 2em;
}


/* Creation panel / Header */

header {
    display: flex;
    justify-content: center;
}

#avatar1 {
    width: 14em;
    height: 18em;
}
#avatar2 {
    width: 14em;
    height: 18em;
    /*transform: scaleX(-1);*/
}

button {
    font-family: Halo3;
    font-size: 2em;
    height: 1.5em;
    width: 3.5em;
    font-weight: bold;
    border: solid 2px rgb(219, 165, 48);
    border-radius: 10px;
    background-color: rgb(33, 1, 51);
    color: rgb(204, 153, 42);;
}
button:hover {
    color: rgb(255, 187, 42);
    cursor: pointer;
}

.grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
    margin: 2em auto;
}

form {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
    grid-gap: 10em;
    margin: 0 auto;
    align-items: center;
}
#submit {
    color: rgb(204, 153, 42);
    height: 3em;
    width: 7em;
}
#submit:hover {
    color: rgb(255, 187, 42);
    cursor: pointer;
}

#creation_panel_1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    
}
#creation_panel_2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}
.player_input{
    padding-top: 1.5em;

}

input {
    width: auto;
    background-color: rgba(33, 1, 51, 0.883);
    border-color: rgb(219, 165, 48);
    padding: 0.4em 2.3em;
    margin: 0.4em;
    border-radius: 4px;
    color: rgb(219, 165, 48);
    font-family: Halo3;
    font-size: 1em;
    text-align: center;
    font-weight: bold;
}
.dropdown-menu {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    text-align: center;
    grid-gap: 1em;
    padding: 1em;
    font-size: 1em;
    border: none;
}

select {
    width: auto;
    background-color: rgba(33, 1, 51, 0.883);
    padding: 0.5em 0em;
    color: rgb(219, 165, 48);
    border-color: rgb(219, 165, 48);
    font-family: Halo3;
    font-size: 1.5em;
    margin-top: 0.5em;
    text-align: center;
    font-weight: bold;
    border-radius: 4px;
}


/* Arena / Main */

main {
    display: flex;
    justify-content: center;
}

.player_log {
    text-align: center;
    display: flex;
    justify-content: center;
    width: 65%;
    height: 5em;
    margin: 0 auto;
    font-size: 1.4em;
    overflow-x: hidden;
    overflow-y: auto; 
    line-height: 1.5;
    background-color: rgba(33, 1, 51, 0.883);
    border-radius: 5px;
    border: 2px solid rgb(219, 165, 48);
}

#characters_stats {
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: auto auto auto;
    grid-gap: 12em;
    margin: 1em 4em;
    font-size: 1.5em;
}
progress:default{
    background-color: rgb(219, 165, 48);
}
progress {
    height: 1em;
    color: rgb(219, 165, 48);
    background-color: rgba(33, 1, 51, 0.883);
    border: 2px solid rgb(219, 165, 48);
    border-radius: 4px;
}

#arena {
    margin: 0 auto;
    display: flex;
    align-content: center;
    justify-content: space-between;
    height: 26em;
    width: 80em;
}
.positions {
    display: flex;
    justify-content: space-between;
    height: 100%;
}
@keyframes attack {
   
    25% {transform:scale(1.3) translateX(15%)}
    
    100% {transform:scale(1) translateX(0%)}
}
#position1{
    position: relative;
    display: flex;
    justify-content: flex-start;
    height: 100%; 
animation: attack 0.5s linear inherit;
animation-iteration-count: 2;

}


#position2{
    position: relative;
    display: flex;
    justify-content: flex-end;
    height: 100%; 
    transform: scaleX(-1);
  animation: attack O.5s linear inherit;
}

.button_panel {
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto;
    grid-gap: 40em;
    margin: 3em;
}

/* Game over / Victory message*/
#modalBox {
    text-align: center;
    font-size: 2em;
    z-index: 1;
    border: 2px solid rgb(219, 165, 48);
    border-radius: 4px;
    display: block;
    max-width: 30%;
    max-height: 50%;
    padding: 1em;
    background-color: rgba(33, 1, 51, 0.883);
    font-weight: bold;
}
.close {
    float: right;
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;
}
